// basic styles
@use "/src/sass/libs/modern-normalize.min.css";
@use "/src/sass/libs/fontello.css";
@use "/src/sass/base/basic.scss";

// components
@use "/src/sass/blocks/header.scss";

// small components
@use "/src/sass/ui/titles.scss";

// sections
@use "/src/sass/blocks/promo.scss";